<h1><%= @title %></h1>
<div class="access-token" data-access-token="<%= @access_token %>"></div>

<div class="album-grid">
  <% @albums.each do |album| %>
    <div class="album-grid-item">
      <div class="album-grid-item__image album-image" data-uri="<%= album.uri %>" style="background-image: url('<%= album.image_medium_url %>');"></div>
      <div class="album-grid-item__name"><%= link_to album.name, album_path(album), class: 'album-link' %></div>
      <div class="album-grid-item__artist"><%= album.artists.join(', ') %></div>
    </div>
  <% end %>
</div>

<%= javascript_tag do %>
  Albums.init({
    accessToken: '<%= @access_token %>',
    refreshToken: '<%= @refresh_token %>'
  });
<% end %>
